        </br>
        <footer class="pt-1 py-1 ct-nav-primary bg-light" >
            <div class ="text-center">
                <p class ="pt-1 text-muted">Ministry Name App 2024</p>
            </div>
        </footer>
        <!-- JS scripts for bootstrap and common.js -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="/script/common.js"></script>
 
