<%- include('../views/header'); %>       
        <h1><%=title%></h1>
        <div>
            <form>
                <label for="mname">Ministry Name:</label>
                <input type="text" name="mname">
                <br>
                <br>
                <label for="acronym">Ministry Acronym:</label>
                <input type="text" name="acronym">
            </form>
        </div>
        <div>
          <%console.log(data); %>
          
          <% //for (let i=0; i<data.lenght;i++){ %>
            <% //= data[i].ministry_name %> <br/>

          <% //} %>
          
          <table>
            <tr>
              
              <!--
              <th>ID</th>
              <th>MINISTRY</th>
              <th>ACRONYM</th>
              -->
            </tr>
            <tr></tr>
          </table>
        </div>
        <div>
          <template>
            <div class="card">
              <div class="container">
                <h4>Placeholder</h4>
                <h3>Placeholder</h3>
                <h4>    </h4>
                <h3></h3>
              </div>
            </div>
          </template>
        </div>
<%- include('../views/footer'); %>
